*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(238, 233, 245);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    align-items: center;
}
.image{
    background-color:rgb(246, 239, 231);
    width: 90%;
    height: 30%;
    margin: auto;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}
img{
    object-fit: cover;
    height: 95%;
    margin: auto;
    border-radius: 1rem;
}
.tag{
    background-color: bisque;
    width: 90%;
    height: 10%;
    margin: 1rem;
    border-radius: 1rem;
}
.title{
    background-color: rgb(223, 247, 232);
    width: 90%;
    height: 10%;
    margin: 1rem;
    border-radius: 1rem;
}
.text{
    background-color: rgb(240, 237, 247);
    width: 90%;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.3em;
    color: rgb(145, 147, 147);
    text-align: justify;
}
.more{
    display: flex;
    /* Centering Horizontally */
    justify-content: center;
    width: 20%;
    height: 5%;
    /* Centering Vertically */
    align-items: center;
    margin: auto;
    background-color: rgb(209, 209, 244);
    border-radius: 1rem;
}